{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'inp.css'%}">
</head>

<body>
    <div id="nav">
        <h1 id="we">Welcome , User</h1>
        <button id="lo">Log out</button>


    </div>
    <div id="men">
        <button class="nb">Contact Us</button>
        <button class="nb">History</button>
        <button class="nb">Account Setting</button>
        <button class="nb">Features</button>
        <button id="tog" onclick="togg()">=</button>
    </div>

    <div id="add">
        <h1>Skill Input Form</h1>

        <label for="skillInput">Enter a Skill:</label>
        <input type="text" id="skillInput">
        <div id="selectedSkills"></div>
        <form id="skillsForm" method="post" action="{% url 'regenerate' %}">
            {% csrf_token %}
            <input type="hidden" name="selected_skills" id="selectedSkillsInput">
            <button type="button" id="AddS">Add</button>
            <button type="submit" name="regen" id="regen">Submit</button>
        </form>


        <ul id="suggestionList"></ul>
    </div>
    <div id="main">

        <h1 style="color: white; position: relative; left: 23vh;"> Here are some relevant questions:</h1>
        <div id="ques">
            {% for entry in FlatList %}
            <div class="item">
                <h1 style="color: white;" class="qu">Skill: {{ entry.skill }}</h1>
                <h3 style="color: white;">Question: {{ entry.question }}</h3>
                <h4 style="color: white;">Answer: {{ entry.answer }}</h4>
            </div>
            {% endfor %}
        </div>



    </div>
    <a id="gen2" href="{% url 'practise' %}" style="color: black;">Practise</a>
    <a id="gen3" style="color: black;">Add Skill</a>






    <script src="{% static 'inpj.js' %}"></script>
</body>

</html>